:root {
  --accent-color: #2f303a;
  --white-color: #ffffff;
  --cursor-color: #2196f3;
  --text-color: #212121;
  --team-color: #f5f4fa;
  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
  --details-color: #757575;
  --add-color: rgba(255, 255, 255, 0.6);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
}
.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}
header .container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding: auto 15px;
}
.container nav .navList {
  display: flex;
  padding-top: 0;
  margin-bottom: 0;
  /* display: block; */
}
.container nav .navList:not(:last-child) {
  margin-right: 50px;
}
.header {
  background-color: var(--white-color);
}
.web1 {
  padding-top: 24px;
  padding-bottom: 25px;
}
.navList {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  justify-content: space-between;
  color: inherit;
  width: 294px;
}
.navlist li:first-child {
  margin-left: 93px;
}
.container .media-list {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  justify-content: space-between;
  color: var(--details-color);
}
.media-list li:not(:last-child) {
  margin-right: 50px;
}
.navList a:hover,
.navList a:focus,
.media-list a:focus,
.media-list a:hover {
  color: var(--cursor-color);
}
.logo {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  padding-top: 24;
  padding-bottom: 25;
  color: var(--cursor-color);
}
.studio {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  padding-top: 24;
  padding-bottom: 25;
  color: var(--text-color);
}
.navList > li {
  font-family: var(--main-font);
  color: var(--text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.h1 {
  font-family: var(--main-font);
  color: var(--white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.main1 {
  background-color: var(--accent-color);
  color: var(--white-color);
  padding: 200px 0;
}

.onlineSign {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: var(--cursor-color);
  color: var(--white-color);
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.container .details {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}
.details h3 {
  font-family: var(--main-font);
  color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.details p {
  font-family: var(--main-font);
  color: var(--details-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.sec1 {
  padding-top: 0px;
}
.business {
  font-family: var(--main-font);
  color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}
.images1 {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.ourteam {
  background-color: var(--team-color);
}
.team {
  font-family: var(--main-font);
  color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.members {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}
.members li {
  border: 1px solid transparent;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  text-align: center;
}

.members .name {
  margin-top: 30px;
  margin-bottom: 10px;
}
.members p {
  font-family: var(--main-font);
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
.members .role {
  font-family: var(--main-font);
  color: var(--details-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}
.studio2 {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  padding-top: 24;
  padding-bottom: 25;
  color: var(--white-color);
  margin-bottom: 20px;
}
.adress {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.social {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--add-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.contacts li:last-child {
  padding-bottom: 60px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: var(--accent-color);
}
